{% extends 'base.html.twig' %}

{% block mycontent %}
        <div class="col-12" >
            <div class="card" style="min-height: 2500px;">
                <div class="p-toolbar-group-left">
                    <div class="my-2">
                        <a href="{{ path('vehicule.index') }}">
                            <button class="p-button p-component p-button-success mr-2">
                                <span class="p-button-icon p-c p-button-icon-left fa fa-plus"></span>
                                <span class="p-button-label p-c">Retour à la liste</span>
                                <span class="p-ink"></span>
                            </button>
                        </a>
                    </div>
                </div>
                <h5>Modifier un véhicule</h5>
                {{ include('vehicule/_form.html.twig', {'mode': 'edit'}) }}
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var photoVehiculeUrl = document.querySelector('input[name="photoVehiculeUrl"]').value;
                if (photoVehiculeUrl) {
                    var link = document.getElementById('current-piece-link');
                    link.href = "{{ asset('img/Vehicules/') }}" + '/' + photoVehiculeUrl;
                    link.textContent = 'Voir la photo actuelle';
        
                    // Hide the "Aucun fichier choisi" text if a piece exists
                    var noFileText = document.getElementById('no-file-text');
                    if (noFileText) {
                        noFileText.style.display = 'none';
                    }
                } else {
                    var link = document.getElementById('current-piece-link');
                    if (link) {
                        link.style.display = 'none';
                    }
                }
            });
        </script>
{% endblock %}


