{% extends 'base.html.twig' %}

{% block mycontent %}
        <div class="col-12">
            <div class="card" style="min-height: 475px;">
                <div class="p-toolbar-group-left">
                    <div class="my-2">
                        <a href="{{ path('TypeStructure.index') }}">
                            <button class="p-button p-component p-button-success mr-2">
                                <span class="p-button-icon p-c p-button-icon-left fa fa-plus"></span>
                                <span class="p-button-label p-c">Retour à la liste</span>
                                <span class="p-ink"></span>
                            </button>
                        </a>
                    </div>
                </div>
                <h5>Ajouter un type de structure</h5>
                {{ include('type_structure/_form.html.twig', {'mode': 'add'}) }}
            </div>
        </div>
{% endblock %}
