<form method="post" action="{{ path('commune.delete', {'id': commune.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette commune ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commune.id) }}">
    <button class="btn">Delete</button>
</form>
