<form method="post" action="{{ path('parc.delete', {'id': parc.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce parc ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ parc.id) }}">
    <button class="btn">Delete</button>
</form>
