{% extends 'base.html.twig' %}

{% block mycontent %}
        <div class="col-12">
            <div class="card card-content-template">
                <div class="p-toolbar-group-left">
                    <div class="my-2">
                        <a href="{{ path('assurance.index') }}">
                            <button class="p-button p-component p-button-outlined mr-2">
                                <span class="p-button-icon p-c p-button-icon-left fa fa-arrow-left"></span>
                                <span class="p-button-label p-c">Retour à la liste</span>
                                <span class="p-ink"></span>
                            </button>
                        </a>
                    </div>
                </div>
                <h5>Ajouter une assurance</h5>
                {{ include('assurance/_form.html.twig', {'mode': 'add'}) }}
            </div>
        </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.my-select').select2({
                placeholder: 'Sélectionne un véhicule',
                allowClear: true,
                theme: 'classic'
            });
        });
    </script>
{% endblock %}
