<form method="post" action="{{ path('departement.delete', {'id': departement.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce departement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ departement.id) }}">
    <button class="btn">Delete</button>
</form>
